In [45]:
import pandas as pd
import numpy as np
import autoEDA
import missingno as msno
%matplotlib inline

In [46]:
df = pd.read_csv('final_project.csv')
df.shape

(160000, 51)

In [47]:
df[['x24', 'x29', 'x30', 'x32','x37']]

           x24   x29        x30     x32        x37
0       euorpe  July    tuesday    0.0%   $1313.96
1         asia   Aug  wednesday  -0.02%   $1962.78
2         asia  July  wednesday  -0.01%    $430.47
3         asia  July  wednesday   0.01%  $-2366.29
4         asia  July    tuesday   0.01%   $-620.66
...        ...   ...        ...     ...        ...
159995    asia   Aug  wednesday    0.0%   $-891.96
159996    asia   May  wednesday  -0.01%   $1588.65
159997    asia   Jun  wednesday   -0.0%    $687.46
159998    asia   May  wednesday  -0.02%    $439.21
159999    asia   Aug    tuesday   0.02%  $-1229.34

[160000 rows x 5 columns]

In [48]:
df['x32'] = df['x32'].str.rstrip('%')
df['x37'] = df['x37'].str.lstrip('$')
df.astype({'x32': 'float', 'x37': 'float'}).dtypes

x0     float64
x1     float64
x2     float64
x3     float64
x4     float64
x5     float64
x6     float64
x7     float64
x8     float64
x9     float64
x10    float64
x11    float64
x12    float64
x13    float64
x14    float64
x15    float64
x16    float64
x17    float64
x18    float64
x19    float64
x20    float64
x21    float64
x22    float64
x23    float64
x24     object
x25    float64
x26    float64
x27    float64
x28    float64
x29     object
x30     object
x31    float64
x32    float64
x33    float64
x34    float64
x35    float64
x36    float64
x37    float64
x38    float64
x39    float64
x40    float64
x41    float64
x42    float64
x43    float64
x44    float64
x45    float64
x46    float64
x47    float64
x48    float64
x49    float64
y        int64
dtype: object

In [49]:
df.isna().sum()

x0     26
x1     25
x2     38
x3     37
x4     26
x5     37
x6     26
x7     27
x8     21
x9     30
x10    43
x11    30
x12    36
x13    31
x14    34
x15    35
x16    26
x17    27
x18    40
x19    35
x20    38
x21    29
x22    27
x23    47
x24    28
x25    22
x26    36
x27    30
x28    35
x29    30
x30    30
x31    39
x32    31
x33    41
x34    41
x35    30
x36    27
x37    23
x38    31
x39    23
x40    36
x41    40
x42    26
x43    37
x44    40
x45    29
x46    31
x47    37
x48    32
x49    32
y       0
dtype: int64

In [50]:
df.isnull().sum(axis=1).max()

1

In [51]:
non_num = ['x24', 'x29', 'x30']
for col in df:
    if col not in non_num:
        df[col] = df[col].fillna(0)

for col in non_num:
    print(df[col].mode())

df['x24'] = df['x24'].fillna('asia')
df['x29'] = df['x29'].fillna('July')
df['x30'] = df['x30'].fillna('wednesday')

0    asia
dtype: object
0    July
dtype: object
0    wednesday
dtype: object

In [52]:
df.isna().sum()

x0     0
x1     0
x2     0
x3     0
x4     0
x5     0
x6     0
x7     0
x8     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
x16    0
x17    0
x18    0
x19    0
x20    0
x21    0
x22    0
x23    0
x24    0
x25    0
x26    0
x27    0
x28    0
x29    0
x30    0
x31    0
x32    0
x33    0
x34    0
x35    0
x36    0
x37    0
x38    0
x39    0
x40    0
x41    0
x42    0
x43    0
x44    0
x45    0
x46    0
x47    0
x48    0
x49    0
y      0
dtype: int64